<br/>
<div class="w3-rest w3-border">
    <ul class="w3-ul">
        <li class="w3-gray w3-padding-16 w3-text-white"><h2>Lastest News</h2></li>
        <li class="w3-hover-light-gray w3-center">
            <span class="w3-xlarge">
                <i class="fa fa-plus-square"></i>
                <a href="/add">Add news</a>
            </span>
        </li>
        <li th:each="n : ${news}">
            <a th:href="'/news/' + ${n.id}" th:text="${n.title}"></a>
            - <span class="w3-text-gray" th:text="${n.createDate}"></span>
            <p th:text="${n.content}"></p>
        </li>
    </ul>
</div>
