<!--<img class="w3-row"-->
<!--src="http://icsse2017.hcmute.edu.vn/Resources/Images/SubDomain/icsse2017/Banner%20Hoi%20nghi%20quoc%20te%20new.jpg"/>-->
<div class="w3-row">
    <img class="mySlides"
         src="http://icsse2017.hcmute.edu.vn/Resources/imagesPortlet/e28a24d5-befe-4213-a3d5-2e1ebcb2a71e/HNQT1.jpg"
         style="width:100%">
    <img class="mySlides"
         src="http://icsse2017.hcmute.edu.vn/Resources/imagesPortlet/e28a24d5-befe-4213-a3d5-2e1ebcb2a71e/HNQT2.jpg"
         style="width:100%">
    <img class="mySlides"
         src="http://icsse2017.hcmute.edu.vn/Resources/imagesPortlet/e28a24d5-befe-4213-a3d5-2e1ebcb2a71e/HNQT3.jpg"
         style="width:100%">
</div>
<script>
    var myIndex = 0;
    carousel();

    function carousel() {
        var i;
        var x = document.getElementsByClassName("mySlides");
        for (i = 0; i < x.length; i++) {
            x[i].style.display = "none";
        }
        myIndex++;
        if (myIndex > x.length) {
            myIndex = 1
        }
        x[myIndex - 1].style.display = "block";
        setTimeout(carousel, 4000); // Change image every 2 seconds
    }
</script>
<div class="w3-row">
    <div class=" w3-bar w3-blue-grey w3-border-blue-grey">
        <a href="/" class="w3-bar-item w3-button w3-padding-16">Home</a>
        <a th:each="type : ${TypeOfNews}" th:href="'/' + ${type.type_id}" th:text="${type.type_name}"
           class="w3-bar-item w3-button  w3-padding-16">Home</a>
        <a href="/" class="w3-bar-item w3-button w3-padding-16">Contact</a>
        <a href="/" class="w3-bar-item w3-button w3-padding-16">About</a>
        <input type="text" class="w3-bar-item w3-input w3-padding-16" placeholder="Search.."/>
        <a href="#" class="w3-bar-item w3-button w3-xlarge w3-padding-16"><i class="fa fa-search"></i></a>
    </div>
</div>
</div>