<html xmlns:th="http://www.thymeleaf.org">
<th:block th:include="/fragment/headtag"/>
<body>
<th:block th:include="/fragment/header"/>
<div class="body">
    <div class="w3-row-padding">
        <div class="w3-threequarter">
            <br/>
            <div class="w3-container w3-border">
                <div th:unless="${anews} == null">
                    <div class="w3-container">
                        <h2 th:text="${anews.title}"></h2>
                        <p><i th:text="${anews.createDate}"></i></p>
                    </div>
                    <hr/>

                    <div class="w3-container">
                        <p th:utext="${anews.content}">content</p>
                    </div>

                    <hr/>
                    <p class="w3-right-align">
                        <i class="fa fa-pencil"></i>
                        <b th:text="${anews.user.firstName} + ' '+  ${anews.user.lastName}"></b>
                    </p></div>
                <h2 class="w3-center" th:if="${anews} == null">This page is empty!</h2>
            </div>
        </div>
        <th:block th:include="/fragment/aside"/>
    </div>
</div>
<th:block th:include="/fragment/footer"/>
</body>
</html>