<html xmlns:th="http://www.thymeleaf.org">
<th:block th:include="/headtag"/>
<body>
<th:block th:include="/header"/>
<div class="body">
    <div class="w3-row-padding">
        <div class="w3-threequarter">
            <div class="w3-container w3-border" th:unless="${news} == null">
                <h2 th:text="${news.title}"></h2>
                <p><i th:text="${news.createDate}"></i></p>
                <hr/>

                <div class="w3-container">
                   <p th:utext="${news.content}">content</p>
                </div>

                <hr/>
                <p class="w3-right-align">
                    <i class="fa fa-pencil"></i>
                    <b th:text="${news.user.firstName} + ' '+  ${news.user.lastName}"></b>
                </p></div>
        </div>
        <div class="w3-quarter">Tin nhanh</div>
    </div>
</div>
<th:block th:include="/footer"/>
</body>
</html>